{% extends "orders/order_base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% load widget_tweaks %}
{% block container %}

<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <div class="row">
                <p class="text-info">Форма отправляет электронное письмо с формой заявки от имени АЗК на адрес
                    krsdisp@rn-inform.ru<br>
                    Чтобы добавить ярлык для АЗК используйте адрес с параметром mail (начало почты АЗК). Например
                    {{ path }}{% url "orders:orderAllAzk" %}?mail=azk91@
                </p>
                <br>

            </div>
            {% include "orders/order_header.html" %}
            <div class="form-group">
                <form action="{% url 'orders:orderAllAzk' %}" method="post">
                    {% csrf_token %}
                    <label>{{ form.fio.label }}</label>
                    <span class="text-info">(Если оставить пустым, то инициатором будет менеджер АЗК)</span>
                    {{ form.fio|append_attr:"class: form-control" }}
                    <label>{{ form.text.label }}</label>
                    {{ form.text|append_attr:"class: form-control" }}
                    <label>{{ form.azk.label }}</label>
                    <span class="text-info">(Для множественного выбора используйте CTRL или SHIFT)</span>
                    {{ form.azk|append_attr:"class:selectpicker form-control"|append_attr:"size:20" }}
                    <hr>
                    <div class="text-right">
                        <input type="submit" value="Отправить" class="btn btn-primary btn-lg "/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}