{% extends "base_blank.html" %}
{% load static %}
{% load bootstrap_tags %}
{% load widget_tweaks %}


{% block title %}Отправка заявки{% endblock %}
{% block page-title %}Отправка заявки{% endblock %}
{% block scripts %}
    <!--<script type="text/javascript" src="{% static 'bootstrap/js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}"/>-->
{% endblock %}

{% block content %}
    {% block container %}
    {% endblock %}
{% endblock %}

